<table class="table table-hover">
    <thead>
    <tr>
        <th>Game Name</th>
        <th>Game Price</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>

    <tbody>
            <tr *ngFor="let game of games">
                <td>{{ game.name }}</td>
                <td>{{ game.price }}</td>
                <td><a [routerLink]="['/edit', game.id]" class="btn btn-primary">Edit</a></td>
                <td><button (click)="deleteGame(game.id)"  class="btn btn-danger">Delete</button></td>
            </tr>
    </tbody>
</table>